---
import BaseLayout from "@layouts/BaseLayout.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("lt");

const title: string = t("lorem-ipsum.header");
const description: string = t("lorem-ipsum.description");
---

<BaseLayout title={title} description={description} noindex={true} nofollow={true}>
  <header class="flex flex-col justify-center items-center">
    <h1>{t("lorem-ipsum.header")}</h1>
    <h2>{t("lorem-ipsum.description")}</h2>
  </header>
  <main>
    <div>{t("lorem-ipsum.1")}</div>
    <div>{t("lorem-ipsum.2")}</div>
    <div>{t("lorem-ipsum.3")}</div>
  </main>
</BaseLayout>
