/* stylelint-disable function-no-unknown */

:root {
  --theme-text: theme(colors.neutral.500);
  --theme-text-accent: theme(colors.slate.600);
  --theme-bg: theme(colors.neutral.50);
}

.dark {
  --theme-text: theme(colors.neutral.400);
  --theme-text-accent: theme(colors.slate.300);
  --theme-bg: theme(colors.neutral.900);
}
