:root {
  --theme-text: theme(colors.neutral.700);
  --theme-text-subtle: theme(colors.neutral.500);
  --theme-text-accent: theme(colors.orange.700);
  --theme-bg: theme(colors.light.200);
  --theme-bg-subtle: theme(colors.light.400);
  --theme-bg-accent: theme(colors.light.800);
  --theme-border: theme(colors.dark.500);
  --theme-border-subtle: theme(colors.light.900);
  --theme-border-accent: theme(colors.orange.500);
  --theme-primary: theme(colors.blue.800);
  --theme-secondary: theme(colors.neutral.500);
  --theme-accent: theme(colors.orange.500);
  --theme-positive: theme(colors.green.800);
  --theme-negative: theme(colors.red.800);
  --theme-info: theme(colors.cyan.400);
  --theme-warning: theme(colors.yellow.400);
  --theme-light: theme(colors.light.200);
  --theme-dark: theme(colors.dark.800);
}

.dark {
  --theme-text: theme(colors.light.700);
  --theme-text-subtle: theme(colors.neutral.500);
  --theme-text-accent: theme(colors.orange.400);
  --theme-bg: theme(colors.dark.800);
  --theme-bg-subtle: theme(colors.dark.600);
  --theme-bg-accent: theme(colors.dark.200);
  --theme-border: theme(colors.dark.200);
  --theme-border-subtle: theme(colors.dark.400);
  --theme-border-accent: theme(colors.orange.400);
}
