:root {
  --theme-text: theme(colors.neutral.700);
  --theme-text-subtle: theme(colors.neutral.500);
  --theme-text-accent: theme(colors.blue.700);
  --theme-bg: theme(colors.light.200);
  --theme-bg-subtle: theme(colors.light.400);
  --theme-bg-accent: theme(colors.light.800);
  --theme-border: theme(colors.dark.500);
  --theme-border-subtle: theme(colors.light.900);
  --theme-border-accent: theme(colors.blue.500);
  --theme-primary: theme(colors.blue.300);
  --theme-secondary: theme(colors.neutral.300);
  --theme-accent: theme(colors.blue.500);
  --theme-positive: theme(colors.green.300);
  --theme-negative: theme(colors.red.300);
  --theme-info: theme(colors.cyan.300);
  --theme-warning: theme(colors.yellow.300);
}

.dark {
  --theme-text: theme(colors.light.700);
  --theme-text-subtle: theme(colors.neutral.500);
  --theme-text-accent: theme(colors.blue.400);
  --theme-bg: theme(colors.dark.800);
  --theme-bg-subtle: theme(colors.dark.600);
  --theme-bg-accent: theme(colors.dark.200);
  --theme-border: theme(colors.dark.200);
  --theme-border-subtle: theme(colors.dark.400);
  --theme-border-accent: theme(colors.blue.400);
  --theme-primary: theme(colors.blue.800);
  --theme-secondary: theme(colors.neutral.500);
  --theme-accent: theme(colors.blue.500);
  --theme-positive: theme(colors.green.800);
  --theme-negative: theme(colors.red.800);
  --theme-info: theme(colors.cyan.400);
  --theme-warning: theme(colors.yellow.400);
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}
