---
import BaseLayout from "@layouts/BaseLayout.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("en");

const title: string = t("pages.about.title");
const description: string = t("pages.about.description");
---

<BaseLayout
  title={title}
  description={description}
  noindex={true}
  nofollow={true}
>
  <header class="flex flex-col justify-center items-center">
    <h1>{t("pages.about.header")}</h1>
  </header>
  <main>
    <h2>{t("pages.about.1-header")}</h2>
    <p>{t("pages.about.1")}</p>
  </main>
</BaseLayout>
