---
import SpeedLimitHelper from "@components/SpeedLimitHelper.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import TrainHelper from "@src/components/TrainHelper.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("en");

const title = t("pages.index.title");
const description = t("pages.index.description");
---

<BaseLayout title={title} description={description}>
  <header class="flex flex-col justify-center items-center">
    <h1>{t("pages.index.header")}</h1>
  </header>
  <SpeedLimitHelper />
  <TrainHelper />
</BaseLayout>
