---
import LanguageSelector from "@components/LanguageSelector.astro";
import { t } from "i18next";
---

<!-- Header -->
<div class="flex flex-row justify-between">
  <!-- Breadcrumb -->
  <nav>
    <ol>
      <li>
        <span class="text-sm">{t("app.title-short")}</span>
      </li>
    </ol>
  </nav>
  <LanguageSelector />
</div>
