---
import PMenu from "@components/generic/PMenu.astro";
import PSvg from "@components/generic/PSvg.astro";
import { addTrailingSlash, capitalizeFirstLetter } from "@i18n/util";
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";
import ISO6391 from "iso-639-1";

const { pathname } = Astro.url;
const currentLanguage: string = i18next.language;
const languages: string[] = i18next.languages
  .slice()
  .sort((a: string, b: string): number => a.toLowerCase().localeCompare(b.toLowerCase()));
---

<!-- Language Selector -->
<PMenu>
  <button
    slot="menu-heading"
    type="button"
    id="language-menu"
    tabindex="0"
    aria-label={t("components.language-selector.language-menu")}
  >
    <PSvg name="locales" svgClass="h-5" />
  </button>
  <div slot="menu-content" role="dialog" class="bg-color-bg border-color-border right-0">
    <ul aria-labelledby="language-menu">
      {
        languages.map((language: string) => (
          <li
            class={
              `py-2 px-4 focus:bg-color-bg-subtle focus:underline hover:bg-color-bg-subtle hover:underline ` +
              `${language === currentLanguage ? "text-color-text-accent bg-color-bg-accent" : ""}`
            }
          >
            <a href={addTrailingSlash(localizePath(pathname, language))}>
              <span>{capitalizeFirstLetter(ISO6391.getNativeName(language), language)}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</PMenu>
