---
import BaseLayout from "@layouts/BaseLayout.astro";

export interface Props {
  title: string;
  header: string;
  description: string;
}

const { title, header, description }: Props = Astro.props;
---

<BaseLayout title={title} description={description}>
  <header class="flex flex-col justify-center items-center">
    <h1>{header}</h1>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>
