# For more information regarding Static Web App workflow configurations:
# https://learn.microsoft.com/azure/static-web-apps/build-configuration
name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    name: Build and Deploy
    runs-on: ubuntu-latest
    environment:
      name: 'Production'
      url: https://www.companionforts.com

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build And Deploy
        id: build-deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: 'upload'
          production_branch: 'main'
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          app_location: '/' # This folder contains the source code for your front-end application.
          api_location: '.dist/server' # This folder that contains the source code for your API application.
          output_location: '.dist/client' # If your web app runs a build step, the output location is the folder where the public files are generated.

  close-pull-request:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    name: Close Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: 'close'
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
